@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');


body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 300px;
    background: url('assets/icons/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    text-align: center;
}

.container {
    padding: 20px;
}

.container.hidden {
    display: none;
}

.container.active {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Styles for the button-group container */
.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

/* Basic button styles */
.button-group button {
    width: 120px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background: transparent; /* No background color by default */
    border: none; /* No border by default */
    color: black; /* Default text color */
    transition: color 0.3s; /* Smooth transition for text color */
}

/* Gradient text color on hover */
.button-group button:hover {
    color: transparent; /* Hide default text color */
    background: linear-gradient(135deg, #4a00e0, #8e2de2); /* Gradient background on hover */
    background-clip: text; /* Clip gradient to text */
    -webkit-background-clip: text; /* Safari compatibility */
}

footer {
    margin-top: 20px;
    font-size: 1em;
}

/* Style for the link within the footer */
footer a {
    color: #000; /* Default text color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s; /* Smooth transition for color */
}

/* Gradient text color on hover */
footer a:hover {
    color: transparent; /* Hide default text color */
    background: linear-gradient(135deg, #4a00e0, #8e2de2); /* Gradient text color */
    background-clip: text; /* Clip gradient to text */
    -webkit-background-clip: text; /* Safari compatibility */
}
